<body>

  <% if @post.errors.any? %>
  <div id="error_explanation" class="alert text-danger">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <h1>Editing Book</h1>
  <%= form_for(@post) do |f| %>
  <div class="field">
      <label for="title">Title</label>
      <div class="input">
        <%= f.text_field :title, class:"book_title" %>
      </div>
  </div>
  <div class="field">
      <label for="title">Body</label>
      <div class="input">
        <%= f.text_area :body, class:"book_body" %>
      </div>
  </div>
  <div class="action">
      <%= f.submit 'Update Book' %>
  </div>
  <% end %>

  <%= link_to 'Show', post_path(@post), class:"show_#{@post.id}" %> | 
  <%= link_to 'Back', posts_path, class:"back" %>
</body>