<% flash.each do |message_type, message| %>
  <div class= "alert alert-light-<%= message_type %> text-success">
    <%= message %>
  </div>
<% end %>

<% if @post.errors.any? %>
  <div id="error_explanation" class="alert text-danger">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Books</h1>

<main class="clearfix">
  <table class="books-index">
    <thread>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>    </th>
    </tr>
    </thread>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td>
          <span><%= link_to 'Show', post_path(post), class:"show_#{post.id}" %></span> 
          <span><%= link_to 'Edit', edit_post_path(post.id), class:"edit_#{post.id}" %></span> 
          <span><%= link_to 'Destroy', post_path(post), method: :delete, class:"destroy_#{post.id}" %></span>
        </td>
       </tr>
       <% end %>
  </table>
    <section class="post-box">
      <h2>New Book</h2>
      <%= form_for(@post) do |f| %>
      <div class="field">
        <label for="title">Title</label>
        <%= f.text_field :title, class:"book_title" %>
      </div>
      <div class="field">
        <label for="body">Body</label>
        <%= f.text_area :body, class:"book_body" %>
      </div>
      <div class="action">
        <%= f.submit 'Create Book' %>
      </div>

      <% end %>
    </section>
</main>

